header,footer
{
padding:10px;
text-align:center;
background:linear-gradient(125deg,pink,cyan,gold);
}
nav
{
padding:5px;
text-align:center;
background:linear-gradient(45deg,gold,gray,orange);
}
a
{
padding:3px;
margin:2px 10px;
color:black;
border-radius:5px;
background-color:white;
text-decoration:none;
}
section
{
text-align:center;
margin:auto;
background-color:cyan;
}
section article
{
background-color:orange;
box-shadow:3px solid white;
border:2px solid white;
margin-top:0px;
text-align:center;
align-items:center;
margin:auto;
width:400px;
display:inline-block;
}
section article figure img
{
overflow:hidden;
width:inherit;
height:120px;
transition: all 2s;
position:relative;
}
section:hover img
{
transform:perspective(200px) rotateX(360deg);
}
p
{
text-align:justify;
}
article .NEWS
{
display:block;
overflow:hidden;
width:400px;
height:120px;
transition: all 2s;
position:relative;
}
div
{
background-color:orange;
box-shadow:3px solid white;
border:2px solid white;
margin-top:0px;
text-align:center;
align-items:center;
margin:100px auto;
display:block;
background-color:orange;	
}
.GALLERY
{
overflow:hidden;
width:500px;
transition: all 2s;
position:relative;
}
div:hover img
{
transform:perspective(200px) rotateX(360deg);
}
#ABOUT
{
background-color:orange;
box-shadow:3px solid white;
border:2px solid white;
margin-top:0px;
text-align:center;
align-items:center;
margin:100px auto;
display:block;
border-radius:30px;
}
tr
{
border-top:2px solid white;
}
p
{
text-align:center;
}